* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.error {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.forOfor {
    text-align: center;
    font-size: 5em;
}
.container {
    max-width: 950px;
    margin: 40px auto 40px;
}
.portfolio {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 40px;
}
.portfolio__item {
    max-width: 300px;
    padding: 8px;
}
.portfolio__item img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #000
}
.portfolio__name {
    text-align: center;
}
.portfolio__name a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}
.portfolio__name a:hover {
    color: #000;
}

@media screen and (max-width: 946px) {
    .portfolio {
        justify-content: center;
    }
}