@font-face {
    font-family: Arsenal;
    src: url(../fonts/Arsenal-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: Gabriela;
    src: url(../fonts/Gabriela-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Open Sans Italic";
    src: url(../../fonts/OpenSans-Italic.ttf);
    font-display: swap;
}