.acquaintance {
    margin-bottom: 170px;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__left {
        margin-left: 100px;
    }
    &__title {
        h1 {
            font-size: 60px ;
        }
    }
    &__bg {
        position: absolute;
        width: 980px;
        height: 910px;
        right: 12%;
        top: -250px;
        z-index: -1;
        background: radial-gradient(50% 50% at 50% 50%, #7E3AD6 0%, rgba(126, 58, 214, 0) 100%);
        opacity: 0.4;
    }
    &__img {
        max-width: 100%;
    }
    .junga {
        margin-top: 27px;
        margin-bottom: 14px;
    }
}