.content {
    position: relative;
    margin-bottom: 217px;
    &__bg {
        position: absolute;
        width: 1194px;
        height: 1126px;
        // transform: translate(300px, -350px);

        right: 0%;
        top: -300px;

        z-index: -1;
        background: radial-gradient(50% 50% at 50% 50%, #D63A3A 0%, rgba(126, 58, 214, 0) 100%);
        opacity: 0.3;
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__descr {
        margin-top: 70px;
        max-width: 490px;
        opacity: 0.9;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }
    &__img {
        max-width: 100%;
    }
}
